<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension-point id="initialConditions" name="Initial Conditions" schema="schema/initialConditions.exsd"/>
    <extension-point id="preprocessor" name="Preprocessors" schema="schema/preprocessor.exsd"/>
    <extension-point id="resetDaemon" name="Workspace Reset Daemon" schema="schema/resetDaemon.exsd"/>
    <extension-point id="testSuiteBuilder" name="Test Suite Builder" schema="schema/testSuiteBuilder.exsd"/>
</plugin>
